body {
    background-image: url(background.png);
    background-position: center;
}

.Spielfeld {
    margin-left: auto;
    margin-right: auto;
}

.tac {
border: 0;
}
.home2{
    margin-top:0px;
    margin-left: 0px;
}

.home {
    border-radius: 20px;
    border: 0;
    font-family: Comic Sans MS, Comic Sans;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-width: 5px;
    border-style: solid;
    border-radius: 20%;
    animation-name: borderan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.home:hover {
    background-color: red;
}

/*
rem
%
vh vw
*/
.anzg {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-width: 5px;
    border-style: solid;
    border-radius: 20%;
    animation-name: borderan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.anz1 {
    text-align: left;
    vertical-align: middle;
    font-family: Comic Sans MS, Comic Sans;
    color: white;
    left: 0;
}
.anz2 {
    text-align: right;
    vertical-align: middle;
    font-family: Comic Sans MS, Comic Sans;
    color: white;
    right: 0;
}
.button {
    font-family: Comic Sans MS, Comic Sans;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-style: solid;
    border-width: 1%;
    border-radius: 10%;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    border-width: 5px;
    border-style: solid;
    border-radius: 8%;
    animation-name: borderan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


.feld {
    font-family: Comic Sans MS, Comic Sans;
    color: orange;
    background-color: darkblue;
    font-size: 80px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    border-width: 10%;
    border-radius: 20%;
}

.feld:hover {
    background-color: red;
}

h1 {
    font-family: Comic Sans MS, Comic Sans;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

#area {
    position: relative;
}

#overlay {
    position: absolute;
    background-color: rgba(0, 140, 255, 80%);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    text-align: center;
    display: none;
    z-index: 9;
    border-width: 5px;
    border-style: solid;
    border-radius: 8%;
    animation-name: borderan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#overlay2 {
    position: absolute;
    background-color: rgba(0, 140, 255, 80%);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    text-align: center;
    display: none;
    z-index: 9;
    border-width: 5px;
    border-style: solid;
    border-radius: 8%;
    animation-name: borderan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#overlayh {
    position: absolute;
    background-color: rgba(0, 140, 255, 80%);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    text-align: center;
    display: none;
    z-index: 9;
    border-width: 5px;
    border-style: solid;
    border-radius: 40%;
    animation-name: borderan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@media only screen and (min-width: 600px) {
    .feld {
        width: 150px;
        height: 150px;
        font-size: 130px;

    }
    .anzg{
        width: 450px;
    }

    .home {
        font-size: 30px;
        width: 150px;
        height: 75px;
    }

    .button {
        font-size: 30px;
        width: 300px;
        height: 75px;
    }

    h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 800px) {
    .feld {
        width: 200px;
        height: 200px;
        font-size: 180px;

    }
    .anzg{
        width: 600px;
    }
    .home {
        font-size: 40px;
        width: 200px;
        height: 100px;
    }

    .button {
        font-size: 40px;
        width: 350px;
        height: 100px;
    }

    h1 {
        font-size: 50px;
    }
}

@keyframes borderan {
    0% {
        border-color: red;
    }

    25% {
        border-color: yellow;
    }

    50% {
        border-color: aqua;
    }

    75% {
        border-color: green;
    }

    100% {
        border-color: red;
    }
}